/*CHANGE BACKGRAUND HEADER*/
.scroll-header{
    background-color: var(--container-color);
    box-shadow: 0 1px 4px hsla(var(--hue),4%,15%, .1);
}
.scroll-header .logo_light{
    display: none;
}
.scroll-header .logo_dark{
    display: block;
}
.scroll-header .nav_link{
    color: var(--title-color);
}
.scroll-header .active-link::before{
    background-color: var(--title-color);
}
.scroll-header .nav_togle{
    
}