*{
    background: #757575;
}
.footer{
    margin-top: 8rem;
    background-color: #0e1133;
}

.footer_container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;    
}
.footer__logo{
    margin-bottom: 1.25rem;
}
.footer__description{
    color: hsl(var(--hue), 8%, 75%);
    margin-bottom: 2.5rem;    
}
.footer__social{
    display: flex;
    column-gap: .75rem;    
}
.footer__social-link{
    display: inline-block;
    background-color: var(--container-color);    
    width: 44px;
    height: 44px;
    line-height: 42px;
    text-align: center;
    border-radius: .25rem;
    font-size: 1rem;
    color: #fff;
    border: 2px solid;
    transition: .4s;
}
.footer__social-link:nth-child(1){
    background-color: #285da1; 
    border-color: #285da1;   
}
.footer__social-link:nth-child(2){
    background-color: #03a9f4; 
    border-color: #03a9f4;   
}
.footer__social-link:nth-child(3){
    background-color: #d2173f; 
    border-color: #d2173f;   
}
.footer__social-link:hover{
    background-color: transparent;
}
.footer__title{
    font-size: var(--h3-font-size);    
    color: #fff;
    margin-bottom: 1rem;
}
.footer__links{
    display: grid;  
    row-gap: .35rem;  
}
.footer__link{
    font-size: var(--normal-font-size);
    color: hsl(var(--hue)8%, 75%);
    transition: .3s;    
}
.footer__link:hover{
    color: #fff;    
}
.footer__copy{
    display: block;
    text-align: center;
    font-size: var(--normal-font-size);
    color: hsl(var(--hue)8%, 75%);
    margin-top: 6rem;
}